<%= form_with url: login_path, method: :post, class: "column g-3 container-sm", local: true, id: "login_user" do |form| %>
  <div class="row mb-3 text-info fw-bold">
  <%= form.label :email, "Email:" %>
    <div class="col-sm-3">
  <%= form.text_field :email, placeholder: 'example@gmail.com' %>
    </div>
  </div>
    <div class="row mb-3 text-info fw-bold">
  <%= form.label :password, "Password:" %>
      <div class="col-sm-3">
  <%= form.password_field :password %>
      </div>
    </div>
  <%= form.submit "Log In", class: "btn btn-primary" %>
<% end %>